:root {
	--padding: 8px;
	--radius: var(--padding);
	--transition: 0.05s ease-in-out;

	--bg: #FFFFFF;
	--box: var(--bg);
	--input: #F8F8F8;
	--inputborder: var(--main);

	--main: #ECAFDA;
	--next: #B0B0B0;
	--wrong: #FF7477;
	--correct: #7BE0AD;
	--word: #D3D2C7;

	--shadow: 0px 5px 15px rgba(0, 0, 0, 0.09);
}

body {
	display: flex;
	align-items: center;
	justify-content: center;
}

input, body, button {
	font-family: "Roboto Mono", monospace;
}

#main {
	width: 30vw;
	min-width: 350px;
	max-width: 500px;

	background: var(--box);
	box-shadow: var(--shadow);
	border-radius: var(--radius);

	position: fixed;
	align-items: center;
	padding: var(--padding);
}

#hud {
	--offset: -30px;
	position: absolute;
	text-align: center;
	width: calc(100% - calc(var(--padding)));
}
#hud:first-child {top: var(--offset)}
#hud:last-child {bottom: var(--offset)}

#words {
	display: flex;
	flex-wrap: wrap;

	min-height: 10vh;
	font-weight: 600;
}

#words .word {
	color: var(--word);
	transition: color var(--transition);
}

#words .word {margin-right: var(--padding)}
#words .word:last-child {margin-right: 0px}

#words .word.next {color: var(--next)}
#words .word.wrong {color: var(--wrong)}
#words .word.correct {color: var(--correct)}

#input {
	width: 100%;
	outline: none;
	background: var(--input);
	margin-top: var(--padding);
	border: var(--input) 3px solid;
	padding: calc(var(--padding) / 1.5);
	transition: border var(--transition);
	border-radius: calc(var(--radius) / 2);
}

#input:focus {border: var(--inputborder) 3px solid}
